@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(255, 231, 231);
}

.navbar {
  height: 205px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.button-container {
  display: flex;
  padding: 8px;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-button {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  color: rgb(182, 182, 182);
  font-family: "Sorts Mill Goudy", serif;
  letter-spacing: 2.5px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
